/* name : Sabbir Ahmmed
id : 2220580 */
body {
    margin: 0px;
    background-color: rgb(187, 231, 215);
}
main {
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.navbar ul {
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: black;
}

.navbar li{
    float: left;
}
header {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.blue p{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.red p{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
footer {
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;  
}
div .blue img {
    display: flex;
    float: left;
    height: 300px;
    width: 250px;
}